<form>
    <h2 class="text-center">Sign in, please!</h2>
    <div class="mb-3">
      <label for="email" class="form-label">Email address</label>
      <input name="email" required type="email" class="form-control" id="email">
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input name="password" type="password" required minlength = "6"
      class="form-control" id="password">
    </div>
    <button type="submit" class="btn btn-outline-danger">Submit</button>
  </form>